<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Commanigy.ProtectDotApp.Data.Properties.Settings.protectdotappConnectionString"
            connectionString="Data Source=THEILL-PC\SQLEXPRESS;Initial Catalog=protectdotapp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>